# Recipe SVM Challenge

In [21]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [22]:
raw_data = pd.read_csv('epi_r.csv')

In [23]:
raw_data.head()

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20052 entries, 0 to 20051
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 104.0+ MB

In [25]:
raw_data.isnull().sum()

title                       0
rating                      0
calories                 4117
protein                  4162
fat                      4183
sodium                   4119
#cakeweek                   0
#wasteless                  0
22-minute meals             0
3-ingredient recipes        0
30 days of groceries        0
advance prep required       0
alabama                     0
alaska                      0
alcoholic                   0
almond                      0
amaretto                    0
anchovy                     0
anise                       0
anniversary                 0
anthony bourdain            0
aperitif                    0
appetizer                   0
apple                       0
apple juice                 0
apricot                     0
arizona                     0
artichoke                   0
arugula                     0
asian pear                  0
                         ...
walnut                      0
wasabi                      0
washington                  0
washington, d.c.            0
watercress                  0
watermelon                  0
wedding                     0
weelicious                  0
west virginia               0
westwood                    0
wheat/gluten-free           0
whiskey                     0
white wine                  0
whole wheat                 0
wild rice                   0
windsor                     0
wine                        0
winter                      0
wisconsin                   0
wok                         0
yellow squash               0
yogurt                      0
yonkers                     0
yuca                        0
zucchini                    0
cookbooks                   0
leftovers                   0
snack                       0
snack week                  0
turkey                      0
Length: 680, dtype: int64

In [26]:
raw_data = raw_data.drop(['title','calories','protein','fat','sodium'],1)

In [27]:
raw_data.isnull().sum()

rating                   0
#cakeweek                0
#wasteless               0
22-minute meals          0
3-ingredient recipes     0
30 days of groceries     0
advance prep required    0
alabama                  0
alaska                   0
alcoholic                0
almond                   0
amaretto                 0
anchovy                  0
anise                    0
anniversary              0
anthony bourdain         0
aperitif                 0
appetizer                0
apple                    0
apple juice              0
apricot                  0
arizona                  0
artichoke                0
arugula                  0
asian pear               0
asparagus                0
aspen                    0
atlanta                  0
australia                0
avocado                  0
                        ..
walnut                   0
wasabi                   0
washington               0
washington, d.c.         0
watercress               0
watermelon               0
wedding                  0
weelicious               0
west virginia            0
westwood                 0
wheat/gluten-free        0
whiskey                  0
white wine               0
whole wheat              0
wild rice                0
windsor                  0
wine                     0
winter                   0
wisconsin                0
wok                      0
yellow squash            0
yogurt                   0
yonkers                  0
yuca                     0
zucchini                 0
cookbooks                0
leftovers                0
snack                    0
snack week               0
turkey                   0
Length: 675, dtype: int64

In [28]:
# Feature Engineering
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(.99))
sel.fit_transform(raw_data)
raw_data.head()

,rating,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,30 days of groceries,advance prep required,alabama,alaska,alcoholic,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,2.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,4.375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Convert the rating column to binary, 0 for below average and 1 for above average
raw_data.loc[raw_data['rating'] < 2.5,'rating'] = 0
raw_data.loc[raw_data['rating'] > 2.49999,'rating'] = 1

In [30]:
raw_data.rating.unique()

array([1., 0.])

In [31]:
from sklearn.svm import SVR
svr = SVR()
X = raw_data.sample(frac=0.3, replace=True, random_state=1)
Y = raw_data.rating.sample(frac=0.3, replace=True, random_state=1)
svr.fit(X,Y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [32]:
from sklearn.model_selection import cross_val_score
cross_val_score(svr, X, Y, cv=5)

array([0.8979975 , 0.89795229, 0.89922317, 0.8986904 , 0.89569205])